h1 {
    font-family: 'Water Galon';
    src: url('./fonts/WaterGalon-9Y8o2.ttf') format('opentype');
}
<<<<<<< HEAD
h3 {
    font-family: 'Water Galon';
    src: url('./fonts/WaterGalon-9Y8o2.ttf') format('opentype');
}
=======

h3 {
    font-family: 'Water Galon';
    src: url('./fonts/WaterGalon-9Y8o2.ttf') format('opentype');
}

p {
    font-family: 'Water Galon';
    src: url('./fonts/WaterGalon-9Y8o2.ttf') format('opentype');
}

body {
    background-color: #87CEEB;
}
>>>>>>> a5e2c63bf0d4c756a6ec0577a0c0998e72d013d6
