h1 {
    font-family: 'Water Galon';
    src: url('./fonts/WaterGalon-9Y8o2.ttf') format('opentype');
}
h3 {
    font-family: 'Water Galon';
    src: url('./fonts/WaterGalon-9Y8o2.ttf') format('opentype');
}