.pomodoro {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.pomodoro .timer {
    font-size: 200px;
    font-weight: bold;
    margin-bottom: 20px;
}

.pomodoro .button-container {
    display: flex; /* Display buttons side by side */
    justify-content: center;
}

.pomodoro button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
}
